aside.searchBar{
    justify-content: center;
    box-shadow: 
    0px 0px 0px 1px rgb(0, 0, 0),
    0px 0px 4px 1px #00a588;
    padding: 50px;
    background: linear-gradient(135deg, #fdfdfd 0%, #d4ebdb 100%);
    
    
    
 
}

.searchBar h5{
    padding: 10px;
    align-items: center;
    display: flex;
} 
.searchBar a{
   
    align-items: center;
    padding: 10px;
}
.searchBar input.text {  
     
   
    
    
}

.searchBar input.button {
    background-color: rgba(0, 119, 255, 0.384);
    
}